.page--workspace {
  padding: 10px;
  background-color: white;
  width: 1300px;
  height: 500px;
    
    .welcome_background {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0.5;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
    }
    
    .welcome_info {
        position: fixed;
        margin: auto;
        background-color: gray;
        padding: 10px;
        z-index: 10;
        width: 500px;
        height: 400px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        
        h3 {
            text-align: center;
        }
        
        button {
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }

    .filter-row, .filter-min, .filter-max {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
      margin: 5px;

      .layout_fill {
        flex: 1 1 0;
      }
    }
    
  .section_filter {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
      
    * {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }
      
    float: left;
    width: 250px;
      
    button {
      margin: 3px;
    }
      
    li {
      padding-bottom: 10px;
    }
  }

  .section_map {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    height: 500px;
    width: 500px;
    float: left;

    .the-map {
      flex: 1 1 0;
      width: auto;
      height: auto;
    }
  }

  .section_data {
      padding: 10px;
      float: right;

      .section_charts {
          height: 500px;
          width: 500px;
          overflow: scroll;
      }
  }
}
